body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

thead {
  background: gainsboro;
  color: rgb(16, 2, 2);
}

table {
  margin-top: 40px;
  border: 1px solid black;
}

tr:nth-child(even) {
  background: lightblue;
}

th {
  text-align: center;
}
