body {
  margin: 0;
  padding: 0;
  background: #82AAE3;
}
nav {
  text-align: center;
  /* background: linear-gradient(50deg, rgb(135, 85, 180) 50%, rgb(75, 179, 224) 90%); */
  margin: 0;
  padding: 1px;
  border-bottom: 2px solid white;
}

nav h1 {
  color: #0d1615;
  font-size: 3rem;
  margin: 0;
  padding: 5px;
}

main {
  width: 80%;
  margin: 5vh auto;
  background: #EAFDFC;
  border: 2px solid white;
  border-radius: 8px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 80vh;
}

.row1, .row2 {
  display: flex;
  justify-content: space-evenly;
}

.row1 * {
  background: lightgray;
  padding: 5px;
  border: 2px solid #000;
  border-radius: 12px;
}

#map {
  width: 33%;
  height: 30vh;
  background: orange;
}

#crimeAndRent {
  display: flex;
  flex-direction: column;
  height: 30vh;
}

#crimeRate {
  height: 120px;
  background: rgb(0, 157, 255);
  width: 400px;
}

#rentalPrice {
  height: 120px;
  background: rgb(84, 139, 96);
  width: 400px;
}

